main .job-form-group,
main .investment-choice {
  user-select: none;
}
main .job-form-group .options,
main .investment-choice .options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 1.6rem;
  border-radius: 5px;
  background-color: #10111b;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
}
main .job-form-group .options .option,
main .investment-choice .options .option {
  display: flex;
  align-items: center;
}
main .investment-choice .options {
  padding: 1.6rem 1.6rem;
  margin-bottom: 1rem;
}
main .investment-choice .custom-selects .custom-custom-select.naira {
  display: block;
}
main .investment-choice .custom-selects .custom-custom-select.dollar {
  display: none;
}
main .investment-choice .custom-selects.dollar .custom-custom-select.dollar {
  display: block;
}
main .investment-choice .custom-selects.dollar .custom-custom-select.naira {
  display: none;
}
main.success .wealth-black .app-links {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main.success .wealth-black .app-links .image-control {
  width: 20rem;
}

.custom-custom-select select {
  display: none;
  /*hide original SELECT element: */
}

.custom-custom-select {
  width: 100%;
  position: relative;
}
.custom-custom-select.select-partner {
  margin-right: auto;
}

.select-selected,
.select-selected-vue {
  border: 1px solid #a7914b;
}
