.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  margin-top: 2.5rem;
  padding: 0 5px; }
  .welcome p {
    opacity: 0.87;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 49px;
    text-align: center;
    margin-bottom: 4rem;
    font-family: "Montserrat"; }
  .welcome .gold-gradient-btn {
    margin-top: 12rem; }

header {
  display: flex;
  justify-content: center;
  margin: 4rem 0 6rem; }
  header .logo {
    width: 200px; }

main {
  display: flex;
  flex-direction: column;
  align-items: center; }
  main .intro-text {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 4.5rem;
    text-align: center; }
    main .intro-text .image-control {
      height: 2rem;
      margin-right: 1.2rem; }
    main .intro-text p {
      margin-top: 2rem;
      font-size: 14px;
      line-height: 17px;
      color: #afafaf; }
    main .intro-text.no-padding-bottom {
      margin-bottom: 1.5rem; }
    main .intro-text.compound {
      display: block; }
  main .countries {
    display: flex;
    align-items: center;
    margin-bottom: 7rem; }
    main .countries .country:not(:last-of-type) {
      margin-right: 2.5rem; }
    main .countries .country input {
      display: none; }
      main .countries .country input + label {
        cursor: pointer;
        background-color: #1c1e2e;
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem;
        border-radius: 8px;
        border: 2px solid #1c1e2e; }
        main .countries .country input + label .image-control {
          height: 6.4rem;
          border-radius: 2px; }
        main .countries .country input + label span {
          display: flex;
          height: 4rem;
          align-items: center;
          max-width: 9.6rem;
          text-align: center; }
      main .countries .country input:checked + label {
        border: 2px solid #a7914b; }
    @media (max-width: 600px) {
      main .countries {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2.5rem;
        row-gap: 2.5rem;
        align-items: center;
        justify-content: center; }
        main .countries .country {
          display: flex;
          align-items: center;
          justify-content: center; }
          main .countries .country label {
            width: 12rem; }
          main .countries .country:not(:last-of-type) {
            margin-right: 0; }
          main .countries .country:last-of-type {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1; } }
  main .others {
    max-width: 40rem;
    width: 100%; }
  main .upload input {
    display: none; }
    main .upload input + label {
      max-width: 40rem;
      margin-top: 2.5rem;
      display: flex;
      align-items: center;
      padding: 5px;
      padding-left: 2rem;
      background-color: #10111b; }
      main .upload input + label .text-block {
        flex-grow: 1;
        margin-right: 1rem; }
        main .upload input + label .text-block .top-block {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          font-size: 14px;
          font-weight: 500;
          color: #d2bd78; }
          main .upload input + label .text-block .top-block .image-control {
            height: 2rem;
            margin-right: 1.2rem; }
        main .upload input + label .text-block .bottom-block {
          margin-top: 1.3rem;
          color: #868e96;
          font-size: 12px;
          font-style: italic; }
      main .upload input + label .upload-default-image {
        height: 7.2rem; }
  main .input-group {
    display: flex;
    align-items: center;
    border: 1px solid #a7914b;
    height: 4rem;
    border-radius: 4px;
    background-color: #1c1e2e;
    padding: 4px; }
    main .input-group input {
      width: 100%;
      margin-right: 5px;
      height: 100%;
      background-color: transparent;
      color: white;
      outline: none;
      border: none; }
    main .input-group .btn {
      padding: 1rem 2rem; }
  main .button-row {
    margin-top: 4rem;
    width: 100%;
    max-width: 40rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    main .button-row.right-align {
      justify-content: flex-end; }
  main .bio-data {
    border-radius: 6px;
    background-color: #10111b;
    padding: 24px;
    width: 100%;
    max-width: 40rem; }
  main .asset-classes {
    display: grid;
    margin: 6rem 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;
    width: 100%;
    max-width: 40rem; }
    main .asset-classes .asset input {
      display: none; }
      main .asset-classes .asset input + label {
        cursor: pointer;
        padding: 2rem 0 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid #1c1e2e;
        border-radius: 6px;
        background-color: #1c1e2e; }
        main .asset-classes .asset input + label .image-control {
          margin-bottom: 1.5rem; }
        main .asset-classes .asset input + label i {
          margin-bottom: 1.5rem;
          color: #caac4b;
          font-size: 3.6rem; }
      main .asset-classes .asset input:checked + label {
        border: 2px solid #caac4b; }
  main .job-form-group,
  main .investment-choice {
    user-select: none; }
    main .job-form-group .options,
    main .investment-choice .options {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 2rem 1.6rem;
      border-radius: 5px;
      background-color: #10111b;
      column-gap: 2.5rem;
      row-gap: 2.5rem; }
      main .job-form-group .options .option,
      main .investment-choice .options .option {
        display: flex;
        align-items: center; }
  main .investment-choice .options {
    padding: 1.6rem 1.6rem;
    margin-bottom: 1rem; }
  main .investment-choice .custom-selects .custom-custom-select.naira {
    display: block; }
  main .investment-choice .custom-selects .custom-custom-select.dollar {
    display: none; }
  main .investment-choice .custom-selects.dollar .custom-custom-select.dollar {
    display: block; }
  main .investment-choice .custom-selects.dollar .custom-custom-select.naira {
    display: none; }
  main .investment-choice .custom-selects input {
    display: none; }
  main.bvn .input-group {
    height: auto;
    width: 100%;
    max-width: 35rem;
    padding: 5px; }
  main.contact .contact-biodata {
    margin-top: 2rem; }
  main.contact .contact-form-group {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4rem;
    column-gap: 8px; }
    main.contact .contact-form-group .form-group {
      width: 100%;
      display: grid;
      grid-template-rows: 3rem 4.5rem;
      row-gap: 8px; }
      main.contact .contact-form-group .form-group small {
        display: flex;
        align-items: center; }
      main.contact .contact-form-group .form-group .input-group {
        display: flex;
        align-items: center;
        border: 1px solid #caac4b;
        border-radius: 6px;
        background-color: #10111b;
        padding: 0 10px; }
        main.contact .contact-form-group .form-group .input-group input {
          width: 100%;
          background-color: transparent;
          outline: none;
          border: none;
          color: #caac4b; }
      main.contact .contact-form-group .form-group.textbox-group {
        grid-template-rows: 3rem 6.5rem; }
        main.contact .contact-form-group .form-group.textbox-group .textbox {
          height: 6.5rem; }
          main.contact .contact-form-group .form-group.textbox-group .textbox textarea {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            resize: none; }
      main.contact .contact-form-group .form-group:nth-of-type(1) small {
        margin-bottom: 0; }
      main.contact .contact-form-group .form-group:nth-of-type(2) small {
        text-align: center; }
      main.contact .contact-form-group .form-group .checkbox-group {
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center; }
        main.contact .contact-form-group .form-group .checkbox-group label .checkbox-mark {
          margin: 0; }
  main.success .success-image {
    width: 18rem;
    margin-bottom: 1.5rem; }
  main.success h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8rem; }
  main.success p {
    margin-bottom: 2rem; }
  main.success .wealth-black {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main.success .wealth-black-logo {
      width: 19rem;
      margin-bottom: 2.5rem; }
    main.success .wealth-black .app-links {
      width: 30rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      main.success .wealth-black .app-links .image-control {
        width: 20rem; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  margin: 10rem auto 0; }
  footer i {
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #868e96; }
  footer .strip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    background-color: #10111b;
    padding: 1.5rem;
    width: 100%;
    margin-bottom: 8px;
    text-decoration: none;
    color: #d2bd78;
    font-size: 16px;
    font-weight: 500; }
    footer .strip-name {
      display: grid;
      grid-template-columns: 4.5rem 1fr;
      align-items: center;
      font-size: 14px;
      font-weight: 500; }
      footer .strip-name .image-control {
        height: 1.8rem; }
    @media (max-width: 360px) {
      footer .strip {
        font-size: 14px; }
        footer .strip .strip-name {
          font-size: 12px; } }

.checkbox-group input[type="checkbox"] {
  display: none; }
  .checkbox-group input[type="checkbox"] + label {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .checkbox-group input[type="checkbox"] + label .checkbox-mark {
      position: relative;
      margin-right: 1.5rem;
      height: 18px;
      width: 18px;
      border: 1px solid #caac4b;
      border-radius: 100%;
      background-color: transparent;
      transition: all 150ms ease-in-out; }
    .checkbox-group input[type="checkbox"] + label .checkbox-mark:after {
      content: "";
      position: absolute;
      font-size: 12px;
      left: 50%;
      top: 48%;
      transform: translate(-50%, -50%);
      color: white; }
    .checkbox-group input[type="checkbox"] + label:hover .checkbox-mark {
      background-color: #caac4b72; }
  .checkbox-group input[type="checkbox"]:checked + label .checkbox-mark {
    background-color: #caac4b; }
  .checkbox-group input[type="checkbox"]:checked + label .checkbox-mark:after {
    content: "\2714"; }

.radio-group input[type="radio"] {
  display: none; }
  .radio-group input[type="radio"] + label {
    cursor: pointer;
    display: flex; }
    .radio-group input[type="radio"] + label .radio-button {
      display: block;
      height: 18px;
      width: 18px;
      border-radius: 100%;
      border: 1px solid #caac4b;
      box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.25);
      position: relative;
      margin-right: 1rem; }
  .radio-group input[type="radio"]:checked + label {
    display: flex; }
    .radio-group input[type="radio"]:checked + label .radio-button {
      background-color: #caac4b; }
      .radio-group input[type="radio"]:checked + label .radio-button:after {
        content: "";
        display: block;
        height: 7px;
        width: 7px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
        border-radius: 100%;
        position: absolute;
        background-color: #10111b; }

.checkbox-switch {
  display: none; }
  .checkbox-switch + label {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: grey;
    font-size: 14px; }
    .checkbox-switch + label span {
      position: relative;
      margin-right: 1rem;
      display: inline-block;
      height: 16px;
      width: 24px;
      background-color: grey;
      border-radius: 16px; }
      .checkbox-switch + label span:before {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background-color: white;
        transition: all 200ms ease-in-out; }
  .checkbox-switch:checked + label {
    color: #004ba6; }
    .checkbox-switch:checked + label span {
      background-color: #004ba6; }
      .checkbox-switch:checked + label span:before {
        transform: translateX(8px); }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  z-index: 99999999;
  overflow-y: auto; }
  .modal-item {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6); }
  .modal-content {
    position: relative;
    padding: 3rem 5rem;
    max-width: 40rem;
    border: 1px solid rgba(12, 16, 20, 0.04);
    border-radius: 9px;
    background-color: #1c1e2e;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.14); }
    .modal-content .modal-header h2 {
      margin-bottom: 3rem;
      width: 100%;
      text-align: center;
      opacity: 0.77;
      color: white;
      font-size: 16px;
      font-weight: 600; }
    .modal-content .modal-close {
      position: absolute;
      top: 0px;
      right: 0;
      font-size: 2.5rem;
      line-height: 1.8rem;
      padding: 1.5rem;
      cursor: pointer; }

.modal-item .form-group .custom-select .select-selected {
  width: auto; }

#otp {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #otp .input-group {
    display: flex;
    align-items: center;
    border: 1px solid #a7914b;
    width: 20rem;
    height: 4rem;
    border-radius: 4px;
    background-color: #1c1e2e;
    padding: 4px; }
    #otp .input-group input {
      width: 100%;
      margin-right: 5px;
      height: 100%;
      background-color: transparent;
      color: white;
      outline: none;
      border: none; }
    #otp .input-group .btn {
      padding: 1rem 2rem; }
  #otp i {
    margin: 1.5rem 0 4rem;
    color: #c8cdd2; }

.custom-select,
.custom-custom-select,
.custom-select-vue {
  width: 100%;
  position: relative; }
  .custom-select.select-partner,
  .custom-custom-select.select-partner,
  .custom-select-vue.select-partner {
    margin-right: auto; }

.custom-select select,
.custom-custom-select select {
  display: none;
  /*hide original SELECT element: */ }

.select-selected,
.select-selected-vue {
  background-color: #1c1e2e;
  color: white;
  padding: 15px 30px 15px 16px;
  border: 1px solid #a7914b;
  cursor: pointer;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07);
  border-radius: 4px; }
  .select-selected img,
  .select-selected-vue img {
    display: none; }

/* Style the arrow inside the select element: */
.select-selected:after,
.select-selected-vue:after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-family: "Font Awesome 5 Pro";
  content: "\f078";
  font-weight: 400;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #caac4b;
  font-size: 16px; }

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after,
.select-selected-vue.select-arrow-active:after {
  content: "\f077"; }

/* style the items (options), including the selected item: */
.select-items div,
.select-items-vue div {
  color: white;
  padding: 15px 16px 15px 16px;
  display: flex;
  cursor: pointer; }
  .select-items div img,
  .select-items-vue div img {
    width: 3.2rem;
    height: 2rem;
    margin-right: 1.3rem; }

/* Style items (options): */
.select-items,
.select-items-vue {
  position: absolute;
  background-color: #1c1e2e;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  min-width: min-content;
  max-height: 40rem;
  overflow-y: auto;
  border: 1px solid #a7914b;
  border-radius: 4px; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.select-items-vue > div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1); }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 1.4rem;
  background-color: #000000;
  color: white; }
  body .wrapper {
    margin: 0 auto;
    width: 600px; }
    @media (max-width: 600px) {
      body .wrapper {
        width: 400px; } }
    @media (max-width: 440px) {
      body .wrapper {
        width: 320px; } }

.image-control {
  display: flex;
  align-items: center;
  justify-content: center; }
  .image-control img {
    width: 100%; }
  .image-control.vertical img {
    width: auto;
    height: 100%; }

.form-group {
  margin-bottom: 5rem; }
  .form-group small {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #909499;
    margin-bottom: 8px; }
  .form-group p {
    font-size: 14px;
    font-weight: 500;
    color: #d2bd78; }
  .form-group.no-padding-bottom {
    margin-bottom: 0; }

.double-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #d2bd78;
  font-size: 14px;
  font-weight: 600;
  padding: 1rem 3rem; }
  .btn .post {
    margin-left: 1rem; }
    .btn .post i.fa-caret-right {
      font-size: 2rem; }
  .btn .pre {
    margin-right: 1rem; }
  .btn.btn-gold {
    background-color: #caac4b;
    color: black;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px; }
  .btn.gold-gradient-btn {
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0 1px 1px 0 rgba(255, 249, 215, 0.89);
    padding: 18px 32px;
    border-radius: 6px;
    background: linear-gradient(158.31deg, #caac4b 0%, #ffe38a 49.13%, #caac4b 100%);
    box-shadow: inset 0 1px 0 0 #e5d192;
    color: black; }
