.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 300px;
  margin: 0 auto;
  margin-top: 2.5rem;
  padding: 0 5px;

  p {
    opacity: 0.87;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 49px;
    text-align: center;
    margin-bottom: 4rem;
    font-family: "Montserrat";
  }

  .gold-gradient-btn {
    margin-top: 12rem;
  }
}
header {
  display: flex;
  justify-content: center;
  margin: 4rem 0 6rem;

  .logo {
    width: 200px;
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .intro-text {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 4.5rem;
    text-align: center;

    .image-control {
      height: 2rem;
      margin-right: 1.2rem;
    }
    p {
      margin-top: 2rem;
      font-size: 14px;
      line-height: 17px;
      color: #afafaf;
    }

    &.no-padding-bottom {
      margin-bottom: 1.5rem;
    }
    &.compound {
      display: block;
    }
  }
  .countries {
    display: flex;
    align-items: center;
    margin-bottom: 7rem;

    .country {
      &:not(:last-of-type) {
        margin-right: 2.5rem;
      }
      input {
        display: none;

        + label {
          cursor: pointer;
          background-color: #1c1e2e;
          height: 15rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 1rem 1rem;
          border-radius: 8px;
          border: 2px solid #1c1e2e;

          .image-control {
            height: 6.4rem;
            border-radius: 2px;
          }

          span {
            display: flex;
            height: 4rem;
            align-items: center;
            max-width: 9.6rem;
            text-align: center;
          }
        }
        &:checked + label {
          border: 2px solid #a7914b;
        }
      }
    }
    @media (max-width: 600px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2.5rem;
      row-gap: 2.5rem;
      align-items: center;
      justify-content: center;

      .country {
        display: flex;
        align-items: center;
        justify-content: center;

        label {
          width: 12rem;
        }

        &:not(:last-of-type) {
          margin-right: 0;
        }
        &:last-of-type {
          grid-column: 1 / span 2;
          grid-row: 2 / span 1;
        }
      }
    }
  }
  .others {
    max-width: 40rem;
    width: 100%;
  }
  .upload {
    input {
      display: none;

      + label {
        max-width: 40rem;
        margin-top: 2.5rem;
        display: flex;
        align-items: center;
        padding: 5px;
        padding-left: 2rem;
        background-color: #10111b;

        .text-block {
          flex-grow: 1;
          margin-right: 1rem;
          .top-block {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            color: #d2bd78;

            .image-control {
              height: 2rem;
              margin-right: 1.2rem;
            }
          }
          .bottom-block {
            margin-top: 1.3rem;
            color: #868e96;
            font-size: 12px;
            font-style: italic;
          }
        }
        .upload-default-image {
          height: 7.2rem;
        }
      }
    }
  }
  .input-group {
    display: flex;
    align-items: center;
    border: 1px solid #a7914b;
    height: 4rem;
    border-radius: 4px;
    background-color: #1c1e2e;
    padding: 4px;

    input {
      width: 100%;
      margin-right: 5px;
      height: 100%;
      background-color: transparent;
      color: white;
      outline: none;
      border: none;
    }
    .btn {
      padding: 1rem 2rem;
    }
  }
  .button-row {
    margin-top: 4rem;
    width: 100%;
    max-width: 40rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.right-align {
      justify-content: flex-end;
    }
  }
  .bio-data {
    border-radius: 6px;
    background-color: #10111b;
    padding: 24px;
    width: 100%;
    max-width: 40rem;
  }
  .asset-classes {
    display: grid;
    margin: 6rem 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;
    width: 100%;
    max-width: 40rem;

    .asset {
      input {
        display: none;

        + label {
          cursor: pointer;

          padding: 2rem 0 1.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;

          border: 2px solid #1c1e2e;
          border-radius: 6px;
          background-color: #1c1e2e;

          .image-control {
            margin-bottom: 1.5rem;
          }
          i {
            margin-bottom: 1.5rem;
            color: #caac4b;
            font-size: 3.6rem;
          }
        }
        &:checked + label {
          border: 2px solid #caac4b;
        }
      }
    }
  }
  .job-form-group,
  .investment-choice {
    user-select: none;
    .options {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 2rem 1.6rem;
      border-radius: 5px;
      background-color: #10111b;
      column-gap: 2.5rem;
      row-gap: 2.5rem;

      .option {
        display: flex;
        align-items: center;
      }
    }
  }
  .investment-choice {
    .options {
      padding: 1.6rem 1.6rem;
      margin-bottom: 1rem;
    }
    .custom-selects {
      .custom-custom-select {
        &.naira {
          display: block;
        }
        &.dollar {
          display: none;
        }
      }
      &.dollar {
        .custom-custom-select {
          &.dollar {
            display: block;
          }
          &.naira {
            display: none;
          }
        }
      }
      input {
        display: none;
      }
    }
  }
  &.bvn {
    .input-group {
      height: auto;
      width: 100%;
      max-width: 35rem;
      padding: 5px;
    }
  }
  &.contact {
    .contact-biodata {
      margin-top: 2rem;
    }
    .contact-form-group {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 4rem;
      column-gap: 8px;

      .form-group {
        width: 100%;
        display: grid;
        grid-template-rows: 3rem 4.5rem;
        row-gap: 8px;

        small {
          display: flex;
          align-items: center;
        }

        .input-group {
          display: flex;
          align-items: center;
          border: 1px solid #caac4b;
          border-radius: 6px;
          background-color: #10111b;
          padding: 0 10px;

          input {
            width: 100%;
            background-color: transparent;
            outline: none;
            border: none;
            color: #caac4b;
          }
        }

        &.textbox-group {
          grid-template-rows: 3rem 6.5rem;

          .textbox {
            height: 6.5rem;

            textarea {
              width: 100%;
              height: 100%;
              background-color: transparent;
              border: none;
              outline: none;
              resize: none;
            }
          }
        }
        &:nth-of-type(1) {
          small {
            margin-bottom: 0;
          }
        }
        &:nth-of-type(2) {
          small {
            text-align: center;
          }
        }

        .checkbox-group {
          width: 100%;
          height: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;

          label {
            .checkbox-mark {
              margin: 0;
            }
          }
        }
      }
    }
  }
  &.success {
    .success-image {
      width: 18rem;
      margin-bottom: 1.5rem;
    }
    h1 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 8rem;
    }
    p {
      margin-bottom: 2rem;
    }
    .wealth-black {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-logo {
        width: 19rem;
        margin-bottom: 2.5rem;
      }
      .app-links {
        width: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .image-control {
          width: 20rem;
        }
      }
    }
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 40rem;
  margin: 10rem auto 0;
  i {
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #868e96;
  }
  .strip {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 6px;
    background-color: #10111b;
    padding: 1.5rem;
    width: 100%;
    margin-bottom: 8px;

    text-decoration: none;
    color: #d2bd78;
    font-size: 16px;
    font-weight: 500;

    &-name {
      display: grid;
      grid-template-columns: 4.5rem 1fr;
      align-items: center;

      font-size: 14px;
      font-weight: 500;

      .image-control {
        height: 1.8rem;
      }
    }

    @media (max-width: 360px) {
      font-size: 14px;

      .strip-name {
        font-size: 12px;
      }
    }
  }
}
