@import "general";

@import "components/inputs";
@import "components/modals";
@import "components/select-input";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 1.4rem;
  background-color: #000000;
  color: white;

  .wrapper {
    margin: 0 auto;
    width: 600px;

    @media (max-width: 600px) {
      width: 400px;
    }
    @media (max-width: 440px) {
      width: 320px;
    }
  }
}
.image-control {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
  }
  &.vertical {
    img {
      width: auto;
      height: 100%;
    }
  }
}

.form-group {
  margin-bottom: 5rem;
  small {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #909499;
    margin-bottom: 8px;
  }
  p {
    font-size: 14px;
    font-weight: 500;
    color: #d2bd78;
  }

  &.no-padding-bottom {
    margin-bottom: 0;
  }
}

.double-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  color: #d2bd78;
  font-size: 14px;
  font-weight: 600;

  padding: 1rem 3rem;

  .post {
    margin-left: 1rem;
    i.fa-caret-right {
      font-size: 2rem;
    }
  }
  .pre {
    margin-right: 1rem;
  }

  &.btn-gold {
    background-color: #caac4b;
    color: black;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
  }
  &.gold-gradient-btn {
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0 1px 1px 0 rgba(255, 249, 215, 0.89);
    padding: 18px 32px;
    border-radius: 6px;
    background: linear-gradient(158.31deg, #caac4b 0%, #ffe38a 49.13%, #caac4b 100%);
    box-shadow: inset 0 1px 0 0 #e5d192;
    color: black;
  }
}
