.checkbox-group {
  input[type="checkbox"] {
    display: none;

    & + label {
      display: flex;
      align-items: center;
      cursor: pointer;
      .checkbox-mark {
        position: relative;
        margin-right: 1.5rem;
        height: 18px;
        width: 18px;

        border: 1px solid #caac4b;
        border-radius: 100%;
        background-color: transparent;
        transition: all 150ms ease-in-out;
      }

      .checkbox-mark:after {
        content: "";
        position: absolute;
        font-size: 12px;
        left: 50%;
        top: 48%;
        transform: translate(-50%, -50%);

        color: white;
      }

      &:hover {
        .checkbox-mark {
          background-color: #caac4b72;
        }
      }
    }
    &:checked + label {
      .checkbox-mark {
        background-color: #caac4b;
      }
      .checkbox-mark:after {
        content: "\2714";
      }
    }
  }
}
.radio-group {
  input[type="radio"] {
    display: none;

    & + label {
      cursor: pointer;
      display: flex;

      .radio-button {
        display: block;
        height: 18px;
        width: 18px;
        border-radius: 100%;
        border: 1px solid #caac4b;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.25);

        position: relative;
        margin-right: 1rem;
      }
    }

    &:checked {
      & + label {
        display: flex;

        .radio-button {
          background-color: #caac4b;

          &:after {
            content: "";
            display: block;
            height: 7px;
            width: 7px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);

            border-radius: 100%;
            position: absolute;
            background-color: #10111b;
          }
        }
      }
    }
  }
}
.checkbox-switch {
  display: none;
  & + label {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: grey;
    font-size: 14px;

    span {
      position: relative;
      margin-right: 1rem;
      display: inline-block;
      height: 16px;
      width: 24px;
      background-color: grey;
      border-radius: 16px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background-color: white;
        transition: all 200ms ease-in-out;
      }
    }
  }
  &:checked + label {
    color: #004ba6;

    span {
      background-color: #004ba6;

      &:before {
        transform: translateX(8px);
      }
    }
  }
}
