.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);

  z-index: 99999999;
  overflow-y: auto;
  &-item {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
  }

  &-content {
    position: relative;
    padding: 3rem 5rem;
    max-width: 40rem;
    border: 1px solid rgba(12, 16, 20, 0.04);
    border-radius: 9px;
    background-color: #1c1e2e;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.14);

    .modal-header {
      h2 {
        margin-bottom: 3rem;
        width: 100%;
        text-align: center;
        opacity: 0.77;
        color: white;
        font-size: 16px;
        font-weight: 600;
      }
    }
    .modal-close {
      position: absolute;
      top: 0px;
      right: 0;
      font-size: 2.5rem;
      line-height: 1.8rem;
      padding: 1.5rem;
      cursor: pointer;
    }
  }
}
.modal-item {
  .form-group {
    .custom-select {
      .select-selected {
        width: auto;
      }
    }
  }
}
#otp {
  display: flex;
  flex-direction: column;
  align-items: center;

  .input-group {
    display: flex;
    align-items: center;
    border: 1px solid #a7914b;
    width: 20rem;
    height: 4rem;
    border-radius: 4px;
    background-color: #1c1e2e;
    padding: 4px;

    input {
      width: 100%;
      margin-right: 5px;
      height: 100%;
      background-color: transparent;
      color: white;
      outline: none;
      border: none;
    }
    .btn {
      padding: 1rem 2rem;
    }
  }
  i {
    margin: 1.5rem 0 4rem;
    color: #c8cdd2;
  }
}
