.custom-select,
.custom-custom-select,
.custom-select-vue {
  width: 100%;
  position: relative;

  &.select-partner {
    margin-right: auto;
  }
}

.custom-select select,
.custom-custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected,
.select-selected-vue {
  background-color: #1c1e2e;
  color: white;
  padding: 15px 30px 15px 16px;
  border: 1px solid #a7914b;
  cursor: pointer;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07);
  border-radius: 4px;

  img {
    display: none;
  }
}

/* Style the arrow inside the select element: */
.select-selected:after,
.select-selected-vue:after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-family: "Font Awesome 5 Pro";
  content: "\f078";
  font-weight: 400;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #caac4b;
  font-size: 16px;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after,
.select-selected-vue.select-arrow-active:after {
  content: "\f077";
}

/* style the items (options), including the selected item: */
.select-items div,
.select-items-vue div {
  color: white;
  padding: 15px 16px 15px 16px;

  display: flex;
  img {
    width: 3.2rem;
    height: 2rem;
    margin-right: 1.3rem;
  }
  cursor: pointer;
}

/* Style items (options): */
.select-items,
.select-items-vue {
  position: absolute;
  background-color: #1c1e2e;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  min-width: min-content;
  max-height: 40rem;

  overflow-y: auto;

  border: 1px solid #a7914b;
  border-radius: 4px;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.select-items-vue > div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

// Borderless Custom Select
.custom-select.section-select {
  // .select-selected {
  //   border: none;
  //   box-shadow: none;
  // }
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}
